/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Noto Sans';
}
p {
  font-size: 14px;
  line-height: 22px;
  color: #010101;
}
@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}
p.bold {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.block {
  background: #FFDB4C;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.block-bg {
  background-color: #065A97;
  padding: 30px 0;
}
.block-bg-copyright {
  background-color: #003f6d;
  padding: 30px 0;
}
.line {
  border-top: 1px solid #e9eff3;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.navigation {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .navigation {
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .navigation {
    font-size: 22px;
  }
}
.navigation .navigation__toggle {
  display: block;
  font-size: 38px;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
  cursor: pointer;
}
@media (min-width: 768px) {
  .navigation .navigation__toggle {
    display: none;
  }
}
.navigation .navigation__toggle--fixed {
  position: fixed;
}
.navigation ul.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(92, 75, 51, 0.95);
}
.navigation ul.navigation__list--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list {
    display: block;
    position: absolute;
  }
}
.navigation ul.navigation__list li {
  margin: 0 0 40px;
  padding: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 100px;
  }
  .navigation ul.navigation__list li:last-child {
    margin-right: 0;
  }
}
.navigation a {
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 0px 0px 40px #5c4433;
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  color: #ffe400;
  text-decoration: none;
}
/* ==========================================================================
   USER-PHOTO
   ========================================================================== */
.user-photo {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  height: 110px;
  width: 110px;
  border-radius: 80px;
  margin-bottom: 27px;
  background-image: url("../img/placeholders/user-avatar-placeholder-small-female.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.user-photo--big {
  width: 100%;
  height: auto;
  padding-top: 100%;
  border-radius: 110px;
  background-image: url("../img/placeholders/user-avatar-placeholder-big-female.png");
}
@media (min-width: 1200px) {
  .user-photo--big {
    padding-top: 0;
    height: 205px;
    width: 205px;
  }
}
.user-photo--shadow {
  -webkit-box-shadow: 0px 0px 40px 0px #5C4433;
          box-shadow: 0px 0px 40px 0px #5C4433;
}
/* ==========================================================================
   MOUSE SCROLL SNIPPET
   ========================================================================== */
a.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -12px;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  a.mouse_scroll {
    bottom: 2rem;
    height: 50px;
  }
}
a.mouse_scroll:active,
a.mouse_scroll:focus {
  outline: none;
}
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
.unu {
  margin-top: 1px;
}
.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  -webkit-transform: none;
          transform: none;
  border: 2px solid white;
  top: 170px;
  display: none;
}
@media (min-width: 768px) {
  .mouse {
    display: block;
  }
}
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid white;
  border-radius: 8px;
}
.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.section {
  padding-top: 35px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 85px;
    padding-bottom: 90px;
  }
}
.section--padding-smaller {
  padding-top: 37px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .section--padding-smaller {
    padding-top: 54px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section--padding-smaller {
    padding-top: 75px;
    padding-bottom: 67px;
  }
}
.section--bottom-line {
  border-bottom: 1px solid #e9eff3;
}
@media (min-width: 1420px) {
  .section--bg-laptop {
    background-image: url("../img/bg/laptop.png");
    background-repeat: no-repeat;
    background-position: right top 50%;
  }
}
@media (min-width: 1420px) {
  .section--bg-gear {
    background-image: url("../img/bg/gear.png");
    background-repeat: no-repeat;
    background-position: left top 55%;
  }
}
.heading {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 9px;
  color: #6f4529;
  line-height: 1;
}
@media (min-width: 768px) {
  .heading {
    font-size: 42px;
    margin: 0 0 19px;
  }
}
.heading--medium {
  font-size: 24px;
  line-height: 28px;
  color: #010101;
  margin: 16px 0 20px;
}
.heading--center {
  text-align: center;
}
.def-list {
  margin: 0 0 43px;
}
.def-list--m-b-20 {
  margin-bottom: 20px;
}
.def-list dt {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f4529;
  margin-bottom: 5px;
}
.def-list dd {
  margin: 0 0 20px;
}
/* ==========================================================================
   BUTTONS
   ========================================================================== */
.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 24px;
  background-color: #6f4529;
  -webkit-box-shadow: 0px 3px 15px 0px #5c4433;
          box-shadow: 0px 3px 15px 0px #5c4433;
  padding: 11px 26px 14px;
  cursor: pointer;
}
.button .fa {
  font-size: 18px;
  margin-right: 5px;
}
.filter {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #cecece;
  padding-top: 27px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .filter {
    padding-top: 17px;
    margin-bottom: 45px;
  }
}
.filter__block {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-size: 0;
}
.filter__element {
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .filter__element {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .filter__element {
    margin-right: 15px;
  }
  .filter__element:last-child {
    margin-right: 0;
  }
}
.filter__button {
  display: inline-block;
  cursor: pointer;
  padding: 7px 27px 9px;
}
.filter__button:hover,
.filter__button:focus {
  padding: 5px 25px 7px;
  color: #010101;
  border: 2px solid #6f4529;
}
@media (min-width: 768px) {
  .filter__button {
    padding: 9px 32px 13px;
  }
  .filter__button:hover,
  .filter__button:focus {
    padding: 9px 30px 13px;
  }
}
.filter__button--active {
  padding: 5px 25px 7px;
  color: #010101;
  border: 2px solid #6f4529;
}
@media (min-width: 768px) {
  .filter__button--active {
    padding: 9px 30px 13px;
  }
}
/* ==========================================================================
   PORTFOLIO-ITEM
   ========================================================================== */
.portfolio-item {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  max-width: 360px;
}
.portfolio-item__img {
  display: block;
  position: relative;
  margin-bottom: 15px;
  background-image: url("../../img/placeholders/project_placeholder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  min-height: 190px;
}
@media (min-width: 768px) {
  .portfolio-item__img {
    min-height: 150px;
    height: 150px;
  }
}
@media (min-width: 992px) {
  .portfolio-item__img {
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__img {
    height: 250px;
  }
}
.portfolio-item__img__hover {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(111, 69, 41, 0.9);
  padding-top: 60px;
  text-align: center;
  font-size: 26px;
  color: #fff;
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}
.portfolio-item__img__hover:hover {
  color: #FFF;
}
.portfolio-item__img__hover .fa {
  font-size: 64px;
  margin-bottom: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .portfolio-item__img__hover .fa {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__img__hover .fa {
    position: static;
    font-size: 64px;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.portfolio-item__img__hover span {
  display: none;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .portfolio-item__img__hover span {
    display: inline-block;
  }
}
.portfolio-item__img:hover .portfolio-item__img__hover {
  display: block;
  top: 0;
}
.portfolio-item__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .portfolio-item__title {
    font-size: 24px;
  }
}
.portfolio-item__title a {
  color: #000;
  text-decoration: none;
}
.portfolio-item__title a:hover,
.portfolio-item__title a:focus,
.portfolio-item__title aactive {
  color: #6f4529;
  text-decoration: none;
}
@media (min-width: 992px) {
  .portfolio-item__title a {
    border-bottom: 1px dotted #000;
  }
  .portfolio-item__title a:hover,
  .portfolio-item__title a:focus,
  .portfolio-item__title aactive {
    border-bottom: 1px dotted #6f4529;
  }
}
.portfolio-item__desc {
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 992px) {
  .portfolio-item__desc {
    font-size: 16px;
    line-height: 24px;
  }
}
/* ==========================================================================
   HEADER
   ========================================================================== */
.header {
  display: table;
  width: 100%;
  height: 390px;
  background-color: #5c4b33;
  background-image: url("../img/bg/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  position: relative;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .header {
    height: 560px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 800px;
  }
}
.header__inner {
  display: table-cell;
  vertical-align: middle;
}
.header__center-content {
  display: inline-block;
  margin-top: -60;
}
@media (min-width: 768px) {
  .header__center-content {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .header__center-content {
    margin-top: -105px;
  }
}
.header__name {
  font-size: 26px;
  font-weight: 700;
  text-shadow: 0px 0px 40px #5c4433;
  margin: 0 0 20px;
}
@media (min-width: 768px) {
  .header__name {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .header__name {
    font-size: 56px;
  }
}
.header__desc {
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0px 0px 40px #5c4433;
}
@media (min-width: 768px) {
  .header__desc {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .header__desc {
    font-size: 26px;
  }
}
