
.def-list {
	margin: 0 0 43px;

	&--m-b-20 {
		margin-bottom: 20px;
	}

	dt {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		color: @brown;
		margin-bottom: 5px;
	}

	dd {
		margin: 0 0 20px;
	}
}
